= 'remove sales_detail'
/ = hidden_field_tag "survey[sections_attributes][{{id}}][_destroy]", "1", id: "survey_sections_attributes_{{id}}__destroy"
/ = hidden_field_tag "survey[sections_attributes][{{id}}][id]", "{{id}}", id: "survey_sections_attributes_{{id}}_id"